.picture {
	margin: 15px 0;
	display: block;
	background-image: url('../img/picture.png') !important;
	background-color: #000 !important;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
}
