.front {
	position: relative;
	height: 900px;
	max-width: 1920px;
	background-image: url('../img/front__bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
  /* Пример медиа-запроса. Подробнее здесь: https://getbootstrap.com/docs/4.1/layout/overview/#responsive-breakpoints */

	@include media-breakpoint-down(xs) {	
		height: 400px;
		}
  
  
  &__content {
		height: 900px;
		width: 100vw;
		left: calc(-50vw + 50%);
		position: relative;
		background-color: rgba(255, 255, 255, 0.5);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-family: 'Fira Sans';
		font-style: normal;


		@include media-breakpoint-down(xs) {	
			height: 400px;
			}
  }
  
  &__dscr {
		max-width: 700px;
		text-align: center;
		font-family: 'Fira Sans';
		font-style: normal;
		font-weight: normal;
		line-height: 30px;
		font-size: 18px;
  }
}

