.form{
	margin-top: 95px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 426px;
	@include media-breakpoint-down(xs) {
		margin-top: 25px;
	}
}

